<h1>City#viewcity</h1>
<% if @tags.present? %>
<div id="city-main">
	<%= 'city name: '+@cityName %>
tags: 
<% @tags.each do |tag| %>
	 <%= tag.name %>
<% end %>
</div>
<% end %>
<%= form_tag('/city',{:id =>'add-tag-form', :class =>"well form-inline",:remote => true}) do %>
    <input name="cityname" type="hidden" value="<%= @cityName %>">
    <input name="tagname" type="text" class="input-medium" placeholder="add tag" >
    <button type="submit" class="btn"> add </button>
<% end %>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.il/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Jerusalem&amp;aq=0&amp;oq=jerusal&amp;sll=31.778082,35.224026&amp;sspn=0.060049,0.131407&amp;ie=UTF8&amp;hq=&amp;hnear=Jerusalem&amp;t=m&amp;z=12&amp;ll=31.768319,35.21371&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.il/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Jerusalem&amp;aq=0&amp;oq=jerusal&amp;sll=31.778082,35.224026&amp;sspn=0.060049,0.131407&amp;ie=UTF8&amp;hq=&amp;hnear=Jerusalem&amp;t=m&amp;z=12&amp;ll=31.768319,35.21371" style="color:#0000FF;text-align:left">View Larger Map</a></small>